<!DOCTYPE html>
<html lang="en">
    <%- include ("./includes/head.ejs") %> 
  <body>
    <div class="contentsContainer">
        <%- include ("./includes/menu.ejs") %>
        <div class="errorContainer">
            <h1 class="error">404 ERROR!</h1>
            <p class="describe">page not found!</p>
        </div>
    </div>
    <%- include ("./includes/footer.ejs") %> 
  </body>
</html>